        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #f8f8ec;
        }

        header {
            overflow: hidden;
            background-color: #02416D;
            padding: 20px 10px;
            color: #ffffff;
            text-align: center;

        }

        header a {
            color: black;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            border-radius: 4px;
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
        }

        nav {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        header a:hover {
            background-color: #ddd;
            color: black;
        }

        footer {
            width: 100%;
            text-align: center;
            padding: 20px 0;
            margin-top: 40px;
            background-color: #333;
            color: #aaa;
            font-size: 0.9rem;
        }


        footer p {
            color: #ffffff;
        }

        .btn {
            background-color: #02416D;
            color: white;
            border: none;
            padding: 10px;
            margin: 15px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            width: 50%;
        }

        .divButton{
            display: flex;
            width: 40%;
            height: 50vh;
            justify-content: center;
            align-items: center;
            margin: 100px auto;
            padding: 10px;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 30px;

        }

        
        h2 {
            color: #333;
        }

         h1 {
            color: #333;
            display: flex;
            justify-content: center;

        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #555;
        }


        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        input[type="date"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

         #mySelect{
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
            margin-bottom: 20px;
        }


        input[type="file"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        input[type="submit"] {
            background-color: #02416D;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

        button[type="submit"] {
            background-color: #02416D;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #013354ff;
        }

        .mensagem {
            color: #ff0d00ff;
        }

        .cadDiv {
            display: flex;
            width: 40%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border-radius: 30px;
            margin: 40px auto;
            padding: 20px;
        }

        #titulo{
            color: #ffffff;
        }

        #retornar{
            display: flex;
            margin-top: 20px;
            
        }

        .box{
            width: 40%;
            height: 50vh;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            margin: 100px auto;
           
            border-radius: 30px;

        }

        input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

     input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    input[type="submit"]:hover {
            background-color: #013354ff;
        }

     


    